@model Chat.Models.Section

@{
    ViewData["Title"] = "DetailsSection";
}

<div>
    <h4>DetailsSection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenUser)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditSection", new {  id = Model.Id }) |
    <a asp-action="ListSections">Back to List</a>
</div>
