@model IEnumerable<HW9.Models.Lecturer>

@{
    ViewData["Title"] = "ListLecturer";
}

<h1>ListLecturer</h1>

<p>
    <a asp-action="CreateLecturer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                LastName
            </th>
            <th>
                Age
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLecturer", new { id=item.Id }) |
                @Html.ActionLink("Details", "DetailsLecturer", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteLecturer", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
