@model IEnumerable<HW8_DB_.Models.Order>

@{
    ViewData["Title"] = "OrdersView";
}

<h1>OrdersView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> User Fk </th>
            <th scope="col"> ProductFk </th>
            <th scope="col"> Count </th>
            <th scope="col"> Date </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditOrder", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteOrder", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
