@model IEnumerable<HW8_DB_.Models.Product>

@{
    ViewData["Title"] = "ProductView";
}

<h1>ProductView</h1>

<div>
    <h4>Product</h4>
</div>

<div id="productform">
    <table class="table">
        <tr>
            <th scope="col"> ID </th>
            <td scope="col"> Name </td>
            <td scope="col"> Cost </td>
            <td scope="col"> Description </td>
            <td scope="col"> Date </td>
        </tr>
            @foreach (var prod in Model)
            {
                 <tr>
                     <th scope="row"> @prod.Id </th>
                     <td> @prod.Name </td>
                     <td> @prod.Cost </td>
                     <td> @prod.Description </td>
                     <td> @prod.Date </td>
                 </tr>
             }

        </table>
</div>
