@model Validate.Models.Order

@{
    ViewData["Title"] = "Input";
}

<h4 style="margin-left:50px; text-align:left">Order</h4>
<br />
<div>
    @using (Html.BeginForm())
    {
        <table >
            <tr>
                <td style="width: 100px">
                    @Html.LabelFor(Model => Model.Name)
                </td>
                <td style="margin-right : 30px; width:400px">
                    @Html.TextBoxFor(Model => Model.Name)
                    @Html.ValidationMessageFor(Model => Model.Name)
                </td>
            </tr>
            <tr>
                <td style="width: 100px">
                    @Html.LabelFor(Model => Model.Address)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Address)
                    @Html.ValidationMessageFor(Model => Model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Email)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Email)
                    @Html.ValidationMessageFor(Model => Model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Date)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Date, new { Type = "Date" })
                    @Html.ValidationMessageFor(Model => Model.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.TermsAccepted)
                </td>
                <td>
                    @Html.TextAreaFor(Model => Model.TermsAccepted)
                    @Html.ValidationMessageFor(Model => Model.TermsAccepted)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <input style="margin-left:50px; text-align:left" type="submit" name="" value="Send" />
                </td>
            </tr>
        </table>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
    
